.pagination {
  min-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-bottom: var(--line-light);
}
.ingrdients {
  &__list-header {
    border-top: var(--line-light);
    border-bottom: var(--line-light);
    padding: 1.5rem;

    table {
      width: 100%;
    }
  }
}