- conversation.participants.each do |participant|
  - if current_user
    = gravatar_for participant unless participant == current_user
  - if current_customer
    = gravatar_for participant unless participant == current_customer