.gallery
  %figure.gallery__item
    = image_tag "main_header/art-bicycle.jpg", alt: "logo", class: "gallery__photo"
  %figure.gallery__item
    = image_tag "main_header/casual-close.jpg", alt: "logo", class: "gallery__photo"
  %figure.gallery__item
    = image_tag "main_header/berries.jpg", alt: "logo", class: "gallery__photo"
  %figure.gallery__item
    = image_tag "main_header/appetizer.jpg", alt: "logo", class: "gallery__photo"