%section.form-all
  .ingredient__form
    %h1.heading-secondary Edyt produkt

    = render 'form'

  = link_to 'Show', @ingredient, class: 'my-bottom__link'
  \|
  = link_to 'Back', ingredients_path, class: 'my-bottom__link'